PRIVATE_KEY_DEPLOYER=SBMQTWLUE2QGUKK6CNVQBBWWVJYL2UC4ZC5NSIZ4S53PLQP4O5UENW6K #GAKDQIKUCRYB4OT7OJYZNNCHH5GKGKITUTXSZD77AY3LODSZGPP3YNB6
PRIVATE_KEY_INVOKER=SBFQBFIDHAVLX6TLU5BJWAPGI6DZGRTVHVOL4YFHXYNTK53ZR6ASH4FU #GB3TNQGXAHGYWS6JL6UGZ26RAN5NDDVCAXGTIC24HNSUGK6F72ABZ33X
SOROBAN_RPC_HOST=http://localhost:8000
SOROBAN_RPC_URL=http://localhost:8000/soroban/rpc
NETWORK_PASSPHRASE=Standalone Network ; February 2017
CONTRACT_ID=6b55c804dbfbe2c002d3370068112df27cf8d089dd336fba8867c2aea2c453b6